In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Имеются две базы данных (два листа Excel-файла): 
база с ценами конкурентов (Data_Parsing) и внутренняя база компании (Data_Company).

В базе парсинга есть два id, однозначно определяющие товар: producer_id и producer_color.

В базе компании есть два аналогичных поля: item_id и color_id.

Нам известно, что коды в двух базах отличаются наличием набора служебных символов. 
В базе парсинга встречаются следующие символы: _, -, ~, \\, /.

## Необходимо:

* Считать данные из Excel в DataFrame (Data_Parsing) и (Data_Company).
* Подтянуть к базе парсинга данные из базы компании (item_id, color_id, current_price) 
* сформировать столбец разницы цен в % (цена конкурента к нашей цене).
* Определить сильные отклонения от среднего в разности цен в пределах бренда-категории 
(то есть убрать случайные выбросы, сильно искажающие сравнение). 
Критерий — по вкусу, написать комментарий в коде.
* Записать новый файл Excel с базой парсинга, приклееными к ней столбцами из пункта 2 и с учётом пункта 3 
(можно добавить столбец outlier и проставить Yes для выбросов).

In [7]:
Data_Parsing = pd.read_excel('data/Data_TSUM.xlsx',sheet_name='Data_Parsing')
Data_Company = pd.read_excel('data/Data_TSUM.xlsx',sheet_name='Data_Company')

In [9]:
display(Data_Company.head())

       brand Category      item_id color_id  current price
0  Valentino    Shoes  aaaaa111111    black            247
1  Valentino    Shoes  aaaaa111112    black            161
2  Valentino    Shoes  aaaaa111113    black            234
3  Valentino    Shoes  aaaaa111114    black            167
4  Valentino    Shoes  aaaaa111115    black            153

In [ ]:
display(Data_Parsing.head())